@property --video-border {
    syntax: "*";
    inherits: true;
    initial-value: none;
}

@property --scanline {
    syntax: "*";
    inherits: true;
    initial-value: none;
}

@property --video-width {
    syntax: "<length>";
    inherits: true;
    initial-value: 640px;
}

@property --video-height {
    syntax: "<length>";
    inherits: true;
    initial-value: 480px;
}

@property --zoom {
    syntax: "<number>";
    inherits: true;
    initial-value: 2;
}

@property --video-blur {
    syntax: "<length>";
    inherits: true;
    initial-value: 3px;
}

@property --video-crop-width {
    syntax: "<length>";
    inherits: true;
    initial-value: 640px;
}

@property --video-crop-height {
    syntax: "<length>";
    inherits: true;
    initial-value: 640px;
}

@property --canvas-element-width {
    syntax: "<length>";
    inherits: true;
    initial-value: 320px;
}

@property --canvas-element-height {
    syntax: "<length>";
    inherits: true;
    initial-value: 240px;
}

.react-barcode-scanner-container {
    --video-element-width: calc(var(--video-width) - var(--video-blur) * 2);
    --video-element-height: calc(var(--video-height) - var(--video-blur) * 2);

    --video-element-top: calc(
            (var(--video-crop-height) - var(--video-element-height)) / 2 - var(--video-blur)
    );
    --video-element-left: calc(
            (var(--video-crop-width) - var(--video-element-width)) / 2 - var(--video-blur)
    );

    --canvas-element-left: calc(
            (var(--video-crop-width) - var(--canvas-element-width)) / var(--zoom) -
            var(--video-blur)
    );
    --canvas-element-top: calc(
            (var(--video-crop-height) - var(--canvas-element-height)) / var(--zoom) -
            var(--video-blur)
    );

    display: flex;
    justify-content: center;

    border: var(--video-border);
    position: relative;
    height: var(--video-crop-height);
    width: var(--video-crop-width);
    overflow: hidden;
}
.react-barcode-scanner-container > canvas {
    position: absolute;
    left: var(--canvas-element-left);
    top: var(--canvas-element-top);
    width: var(--canvas-element-width);
    height: var(--canvas-element-height);
}

.react-barcode-scanner-container > video {
    position: absolute;
    top: var(--video-element-top);
    left: var(--video-element-left);
    filter: blur(var(--video-blur));
}

.scanline {
    position: absolute;
    left: var(--canvas-element-left);
    top: var(--canvas-element-top);
    width: var(--canvas-element-width);
    height: 1px;
    overflow: hidden;

    border-top: var(--scanline);

    animation-name: scanline;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes scanline {
    from {
        top: var(--canvas-element-top);
    }
    to {
        top: calc(var(--canvas-element-top) + var(--canvas-element-height));
    }
}
